/* Reset de estilos para limpar margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset de estilos para limpar margens e preenchimentos padrão */



/* CORPO DA PAGINA */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* CORPO DA PAGINA */



/* CABEÇALHO */
.cabecalho{
    background-color: rgb(233, 0, 0);
    padding: 30px;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* CABEÇALHO */



/* MENU */
.menu{
    display: flex;
    justify-content: center; /* Centraliza o menu */
    padding: 10px 0; /* Adiciona um pouco de espaçamento vertical */
}

nav ul {
   display: flex;
   gap: 100px;
   list-style-type: none;
   padding: 20px;
   font-size: 20px
}

nav ul li a{
 text-decoration: none;
 color: black;
}

nav ul :hover{
    background-color: rgb(245, 95, 95);
    border-radius: 40px;
    border: none;
    padding: 5px;
}
/* MENU */



/*IMAGENS */
.imgs img{
    width: 330px;
    display: inline;
    justify-content: space-between;
    border-radius: 20px;
    border: none;
    margin: 20px;
}

.imgs h1{
    text-align: center;
}

.imgs p{
    text-align: justify;
    width: 930px;
    margin: auto;
    font-size: 20px;
}
/* IMAGENS */



/* POSTS */
.posts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
    flex-wrap: wrap;
    gap: 45px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; 
}

.posts a:hover img {
 background-color: rgb(255, 139, 139);
}

.posts img{
    width: 280px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;  
    background-color: rgb(184, 184, 184);
    margin-left: 25px;
}

.posts p {
    text-align: center;
    background-color: rgb(233, 0, 0);
    padding: 05px;
    margin-left: 32px;
    color: white;
    width: 270px;
}

.posts a{
    list-style-type: none;
    text-decoration: none;
}
/* POSTS */



/* FOOTER */
footer img{
    width: 50px;
    height: 50px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align:  center;
}

footer p{
    margin-top: 5px;
    list-style: none;
    text-decoration: none;
}

.contatos h2{
    margin: 20px;
    text-align: center;
}

/* FOOTER */

  

/* LINHA DIVISORIA */
.linha{
    background-color: black;
    padding: 1px;
}
/* LINHA DIVISORIA */

 
/* SOBRE */
.sobre{
    flex-wrap: wrap;
    text-align: center;
    margin: 15px;
}

.sobre p{
    text-align: justify;
    width: 1200px;
    margin: auto;
}

.sobre  h2 span{
    color: rgb(233, 0, 0);
}
/* SOBRE */